doctype html
html
    head
        title= title
    body
        h1= title
        p Hello, #{ip}
        p You're the #{counter} visitor.
        table(border=5)
            tbody
                tr
                    td
                        label 用户名：willison
                    td
                        label 密码：123
